<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 업로드</title>
  </head>
  <body>
    <img src="/<%=src %>">
    <h4>이름: <%=name %></h4>
    <h4>아이디: <%=id %></h4>
    <h4>비밀번호: <%=pw %></h4>
    <h4>나이: <%=age %></h4>
</html>